<div class="row">
  <div class="col-md-8">
    <h1><%= @topic.name %></h1>
  </div>
  <div class="col-md-4" style="margin-top: 23px">
    <% if user_is_authorized_to_edit_topics? %>
      <%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-success' %>
    <% end %>
    <% if user_is_authorized_to_delete_topics? %>
      <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this topic?' } %>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="col-md-8">
    <p class="lead"><%= @topic.description %></p>

    <%= render @topic.posts %>

    <h3>Sponsored Posts</h3>

    <%= render @topic.sponsored_posts %>

  </div>
  <div class="col-md-4">
    <% if current_user %>
      <%= link_to "New Post", new_topic_post_path(@topic), class: 'btn btn-success' %>
    <% end %>
    <% if user_is_authorized_to_create_topics? %>
      <%= link_to "New Sponsored Post", new_topic_sponsored_post_path(@topic), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
