<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <% if detects_posts_comments(@user) then %>
            <%= pluralize(@user.posts.count, 'post') %>,
            <%= pluralize(@user.comments.count, 'comment') %>
          <% else %>
            <%= "#{@user.name} has not submitted any posts or comments yet." %>
          <% end %>
        </small>
      </div>
    </div>
  </div>
</div>

<h2>Posts</h2>
<%= render @user.posts %>

<h2>Comments</h2>
<%= render @user.comments %>

<h2>Favorite Posts</h2>

<% favorite_posts = @user.posts.favorites(@user) %>
<%= render partial: "favorites/favorite_posts", collection: favorite_posts, as: :favorite_post %>
